@font-face {
    font-family: 'PrimeLight';
    src: url('../fonts/Prime-Light.woff2') format('woff2'),
        url('../fonts/Prime-Light.woff') format('woff'),
        url('../fonts/Prime-Light.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Prime';
    src: url('../fonts/Prime-Regular.woff2') format('woff2'),
        url('../fonts/Prime-Regular.woff') format('woff'),
        url('../fonts/Prime-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CinzelRegular';
    src: url('../fonts/Cinzel-Regular.woff2') format('woff2'),
        url('../fonts/Cinzel-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/Roboto-Light.woff2') format('woff2'),
        url('../fonts/Roboto-Light.woff') format('woff'),
        url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoMedium';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff'),
        url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: Prime, sans-serif;
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: white;
    background-color: black;
    position: relative;
}

h1, h2, h3, h4, h5, h6, p, ol, ul {
    font-weight: normal;
}

#preactRoot {
    width: 0;
    height: 0;
}

canvas.webgl {
    width: 100%;
    height: 100%;
    user-select: none;
    position: absolute;
    z-index: 1;
}
