@keyframes opacity_animation {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes width_animation {
    from { width: 0%; }
    to { width: 90%; }
}

button, a {
    font-family: PrimeLight, sans-serif;
    background: none;
    color: #fff;
    border: none;
    outline: none;
    font-size: 1.35rem;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    flex-wrap: nowrap;
    align-items: start;
    justify-content: start;

    &:hover {
        color: blue;
    }

    &:focus {
        color: blue;
        text-decoration: underline;
    }
}

.explore {
    transform: translateX(-50%);
    position: absolute;
    top: calc(100% - 4rem);
    left: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    animation: opacity_animation 2s ease-out forwards;
    z-index: 5;

    &-separator {
        margin-bottom: 1rem;
        background: #fff;
        height: 1px;
        animation: width_animation 2s ease-out forwards;
    }
}

.content, .description {
    animation: opacity_animation 2s ease-out forwards;
    margin-top: 5rem;
    transition: height 0.15s ease-out;
    position: absolute;
    backdrop-filter: blur(1px);
    height: 0px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
    
    .scenes {
        min-width: 14rem;
        padding: 0.5rem 1rem;
        margin: 0 1rem 1rem 0rem;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: flex-start;

        li {
            padding: 0.5rem;
            list-style: none;
            width: 100%;
    
            button, a {
                font-size: 1rem;
            }
        }
    }
}

.content {
    background-color: rgba(10, 10, 10, 0.6);
    z-index: 5;
    top: 0;
    left: 5%;
    height: 0;

    &--show {
        height: calc(100% - 10.25rem);
    }
}

.description {
    background-color: rgba(10, 10, 10, 0.6);
    color: #fff;
    z-index: 4;
    padding: 0.5rem 1.25rem;
    max-width: 90%;
    display: flex;
    justify-content: flex-end;
    top: 0;
    right: 5%;
    max-height: 0;
    height: 0;

    &--show {
        height: auto;
        max-height: calc(100% - 10.25rem);
    }
}