@font-face {
    font-family: 'Prime';
    src: url('./fonts/Prime-Light.eot');
    src: url('./fonts/Prime-Light.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Prime-Light.woff2') format('woff2'),
        url('./fonts/Prime-Light.woff') format('woff'),
        url('./fonts/Prime-Light.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Prime';
    src: url('./fonts/Prime-Regular.eot');
    src: url('./fonts/Prime-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Prime-Regular.woff2') format('woff2'),
        url('./fonts/Prime-Regular.woff') format('woff'),
        url('./fonts/Prime-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

html, body {
    font-family: 'Prime', sans-serif;
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: black;
    background-color: white;
}

h1, h2, h3, h4, h5, h6, p, ol, ul {
    font-weight: normal;
}

canvas.webgl {
    width: 100%;
    height: 100%;
}

div.navigation {
    position: absolute;
    top: 4rem;
    left: 4rem;

    span {
        font-size: 2rem;
    }

    ul {
        margin-top: 2rem;
    }

    li {
        list-style: none;

        button {
            font-family: 'Prime', sans-serif;
            font-size: 1.6rem;
            margin-bottom: 1rem;
            background: none;
            border: none;
            outline: none;
            
            &:hover {
                // text-shadow: rgba(0, 0, 0, 0.74) 1px 0 0.5rem;
            }
        }
    }
}

div.terminal {
    position: absolute;
    margin: 3rem;
    top: 0;
    right: 0;
    width: 30vw;
    height: 25vh;
    background-color: rgba(95, 95, 95, 0.15);
}
